body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1 {
	margin: 0 auto;
	padding-bottom: 20px;
}

div.personBox {
	border: 1px black solid;
	padding: 8px 4px;
	margin: 0 auto;
	margin-bottom: 20px;
}

img.portrait {
	width: 400px;
}